.clearfix::after,.clearfix::before{
    display: table;
    content: "";
}
.clearfix::after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}
body{
    margin: 0;
    background-color: #fafafa;
    /*height: 2000px;*/
}
ul {
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
dd,dt,dl{
    margin: 0;
    padding: 0;
}


/*版心*/
.w{
    width: 1190px;
    margin: 0 auto;
}

/*字体图标声明*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?mcsslk');
    src:  url('../fonts/icomoon.eot?mcsslk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mcsslk') format('truetype'),
    url('../fonts/icomoon.woff?mcsslk') format('woff'),
    url('../fonts/icomoon.svg?mcsslk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*公共头部样式*/
.header{
    height: 30px;
    width: 100%;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
}
.header .w{
    height: 30px;
}
.header .left{
    float: left;

    cursor: pointer;
    padding: 0 5px;
    font-size: 12px;
    color: #999;
}
.header .left:hover{
    background-color: #FFF;
}
.header .left i{
    font-family: icomoon;
    font-style: normal;
    color: #F10215;
}
.header .left span:hover{
    color: #F10215;
}
.header .right{
    float: right;
}
.header .right li{
    float: left;
}
.header .left .position{
    position: relative;
}
.header .left .all-position{
    width: 320px;
    height: 438px;
    background-color: #FFFFFF;
    position: absolute;
    top: 30px;
    left: -5px;
    cursor: default;
    display: none;
    border-bottom:1px solid #cccccc ;
    border-right:1px solid #cccccc ;
    z-index: 1000;
}
.all-position .province a{
    float: left;
    box-sizing: border-box;
    width: 64px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    color: #999999;
    box-sizing: border-box;
    padding: 5px;

}
.province a:hover{
    color: #F10215;
}
.province a:hover span{
    background-color: #f4f4f4;
}
.province span{
    display: inline-block;
    height: 24px;
    width: 40px;
    text-align: center;
    line-height: 24px;
}
.header .region-enjoin{
    width: 290px;
    height: 69px;
    margin: 12px auto 0;
    border-bottom: 1px dotted #999999;
    border-top: 1px dotted #999999;
}
.region-enjoin p{
    margin: 3px 0 0;
    padding: 0;
}
.region-enjoin a{
    text-decoration: none;
    color: #999999;
}
.region-enjoin a:hover{
    color: #F10215;
}
.header .other-region{
    width: 290px;
    margin: 5px auto
}
.other-region h6{
    margin: 0;
    padding: 0;;
    font-weight: 400;
}
.other-region li{
    float: left;
    width: 140px;
    margin-right: 5px;
    box-sizing: border-box;
}
.other-region a{
    text-decoration: none;
    color: #999999;
}
.other-region a:hover{
    color: #F10215;
}
.other-region span{
    display: inline-block;
    width: 17px;
    height: 14px;
    background: url("../images/contry-sprits.png") no-repeat 1px 2px;
}
.other-region .contry02{
    background-position: -20px 5px;
}
.other-region .contry03{
    background-position: -40px 5px;
}
.other-region .contry04{
    background-position: 0 -14px;
}
.other-region .contry05{
    background-position: -20px -13px;
}
.header .right a{
    font-size: 12px;
    text-decoration: none;
    color: #999999;
    display: block;
    padding: 0 2px;
}
.header .right .red{
    color: #F10215;
}
.header .right a:hover{
    color: #F10215;
}

.header .right .space{
    width: 1px;
    height: 15px;
    margin: 10px 15px 0;
    background-color: #cccccc;
}

.header .right .please-login{
    margin-right: 8px;
}
.header .right i{
    font-family: icomoon;
    font-style: normal;
    color: #999999;
    font-size: 12px;
}
.more-info{
    position: relative;
    border-left:1px solid #e3e4e5;
    border-top:1px solid #e3e4e5;
    border-right:1px solid #e3e4e5;
}
.more-info:hover{
    background-color: #FFFFFF;
    border-left:1px solid #cccccc ;
    border-top:1px solid #cccccc ;
    border-right:1px solid #cccccc ;
}
.my-jd{
    width: 282px;
    height: 163px;
    position: absolute;
    left: -1px;
    top: 30px;
    background-color: #FFFFFF;
    border-left:1px solid #cccccc ;
    border-bottom:1px solid #cccccc ;
    border-right:1px solid #cccccc ;
    display: none;
    z-index: 1000;
}
.my-jd .top,.my-jd .bottom{
    width: 280px;
}
.my-jd .top li,.my-jd .bottom li{
    width: 130px;
    padding-left: 10px;
    margin-bottom: -5px;
}
.my-jd .top{
    margin-top: 5px;
    height: 92px;
    border-bottom: 1px solid #cccccc;
}
.my-jd .bottom{
    margin-top: 5px;
}
.enterprise{
    position: absolute;
    left: -1px;
    top: 30px;
    width: 158px;
    height: 65px;
    background-color: #fff;
    border-left:1px solid #cccccc ;
    border-bottom:1px solid #cccccc ;
    border-right:1px solid #cccccc ;
    padding-top: 5px;
    display: none;
    z-index: 1000;
}
.enterprise li{
    width: 70px;
    padding-left: 9px;
    text-align: left;
}

.service{
    position: absolute;
    left: -104px;
    top: 30px;
    width: 172px;
    height: 249px;
    background-color: #FFFFFF;
    border-left:1px solid #cccccc ;
    border-bottom:1px solid #cccccc ;
    border-right:1px solid #cccccc ;
    padding-top: 5px;
    display: none;
    z-index: 1000;
}
.service::after{
    content: "";
    position: absolute;
    width: 145px;
    height: 1px;
    left: 10px;
    top: 134px;
    background-color: #cccccc;
}
.service dt{
    padding-left: 10px;
    font-size: 12px;
    width: 100px;
    font-weight: 700;
}
.service dd{
    float: left;
    width: 70px;
    padding-left: 10px;
    margin: -3px 0;
}

.webnav{
    position: absolute;
    left: -1038px;
    top: 30px;
    width: 1190px;
    height: 180px;
    background-color: #FFFFFF;
    border-left:1px solid #cccccc ;
    border-bottom:1px solid #cccccc ;
    border-right:1px solid #cccccc ;
    display: none;
    z-index: 1000;
}

.webnav dl{
    float: left;
    height: 150px;
    width: 255px;
    margin: 15px 0 15px;
    font-size: 12px;
    padding-left: 20px;
}
.webnav .theme{
    width: 342px;
}
.webnav .canle{
    border-left: 1px solid #cccccc;
}
.webnav .life{
    border-left: 1px solid #cccccc;
}
.webnav .select{
    height: 125px;
    border-left: 1px solid #cccccc;
}
.webnav dt{
    font-weight: 700;
}
.webnav dd{
    float: left;
    width: 85px;
    margin-top: -5px;
}
.erweima{
    position: relative;
}
.erweima::after{
    content: "";
    position: absolute;
    background-color: #fff;
    left: 20px;
    top: 21px;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style:solid;
    border-color: #e3e4e5 #e3e4e5 #FFFFFF #e3e4e5;
}
.more-erweima{
    position: absolute;
    left: -140px;
    top: 30px;
    width: 192px;
    height: 316px;
    background-color: #FFFFFF;
    border-left:1px solid #cccccc ;
    border-bottom:1px solid #cccccc ;
    border-right:1px solid #cccccc ;
    display: none;
    z-index: 1000;
}
.more-erweima>div{
    width: 190px;
    margin: 5px 1px;
    height: 100px;
    text-align: center;
}
.more-erweima>div:nth-child(2){
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}
.erweima-img{
    width: 70px;
    height: 70px;
    float: left;
    border: 1px solid #cccccc;
    padding: 1px;
    margin: 14px 0 0 5px;
}
.more-erweima img{
    width: 70px;
}
.more-erweima .info{
    float: right;
    text-align: left;
    width: 110px;
    height: 100px;
    margin-top: 2px;
}
.more-erweima .info span{
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
}
.more-erweima p{
    font-size: 12px;
    color: #F10215;
    margin: -10px 10px 0 0;
}
.more-erweima .mobile{
    margin-top: 0px;
    width: 77px;
    height: 25px;
    background: url("../images/mobile-sprits.png") no-repeat 0 0,
            url("../images/mobile-sprits.png") no-repeat 25px -26px,
            url("../images/mobile-sprits.png") no-repeat 50px -52px;
}
.single-erweima{
    width: 70px;
    height: 70px;
    position: absolute;
    padding: 2px;
    left: -20px;
    top: 30px;
    z-index: 1;
}
.single-erweima img{
    width: 70px;
}



/*底部模块*/
.footer-service{
    margin-top: 15px;
    width: 100%;
    height: 103px;
    border-bottom: 1px solid #999999;
}

.service-item{
    width: 225px;
    height: 42px;
    float: left;
    margin-top: 30px;
    position: relative;
}

.service-item:first-child{
    margin-left: 120px;
}
.service-item:last-child{
    margin-right: 120px;
}
.service-item:nth-child(2){
    margin-left: 65px;
    margin-right: 65px;
}
.service-item:nth-child(3){
    margin-right: 65px;
}

.service-item span:first-child{
    position: absolute;
    width: 40px;
    height: 42px;
    background: url("../images/footer-sprits.png") no-repeat 0 -192px;
    left: 10px;
    top: 0;
}
.service-item span:last-child{
    position: absolute;
    left: 55px;
    top: 10px;
    font-size: 18px;
    font-weight: 700;
}

.footer-help{
    width: 1190px;
    margin: 0 auto;
    height: 200px;
    padding: 20px 0;
    border-bottom: 1px solid #999999;
}

.help-item{
    width: 185px;
    height: 200px;
    font-size: 14px;
    float: left;
}
.help-item dt{
    height: 30px;
    font-weight: 700;

}
.help-item dd{
    height: 25px;
}
.help-item a{
    font-size: 12px;
    text-decoration: none;
    color: #333333;
}
.help-item a:hover{
    color: #F10215;
}
.cover-contry{
    float: left;
    width: 265px;
    height: 200px;
    position: relative;
}
.cover-contry::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 184px;
    left: 22px;
    top: 0;
    background: url("../images/footer-sprits.png") no-repeat 0 30px;
}
.cover-desc-title{
    display: inline-block;
    height: 50px;
    text-align: center;
    width: 265px;
    font-size: 12px;
    font-weight: 700;
}
.cover-desc{
    width: 200px;
    text-align: left;
    line-height: 18px;
    padding-left: 22px;
    font-size: 12px;
    display: inline-block;
    color: #333333;
}

.cover-contry a{
    font-size: 12px;
    color: #333;
    text-decoration: none;
    position: absolute;
    right: 40px;
    bottom: 80px;
    z-index: 999;
}
.cover-contry a:hover{
    color: #F10215;
}

.copyright-link{
    width: 1000px;
    height: 18px;
    padding: 0 95px;
    margin: 15px auto 0;
}

.copyright-link li{
    float: left;
    width: 60px;
    height: 18px;
    text-align: center;
}
.copyright-link .link-space{
    width: 1px;
    height: 15px;
    background-color: #cccccc;
    margin: 2px 3px;
}

.copyright-link a{
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: #333333;
}
.p-space{
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #cccccc;
    margin: -2px 10px;
}
.footer p{
    text-align: center;
    font-size: 12px;
    color: #999999;
    overflow: hidden;
}

.brands{
    width: 1190px;
    margin: 40px auto;
    height: 32px;
    text-align: center;
    padding: 1px 0;
}
.brands a{
    display: inline-block;
    height: 32px;
    width: 103px;
    background: url("../images/footer-sprits.png") no-repeat -208px 0;
}
.brands a:nth-child(2){
    background-position:-208px -37px;
}
.brands a:nth-child(3){
    background-position:-208px -74px;
}
.brands a:nth-child(4){
    background-position:-208px -111px;
}
.brands a:nth-child(5){
    background-position:-208px -148px;
}
a:hover{
    color: #F10215;
}