/*顶部广告*/
.top-ad{
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgb(246, 163, 156);
}
.ad{
    display: block;
    height: 80px;
    background-image: url(../images/top-ad.webp);
    position: relative;
}
.ad>i::after{
    content: "\ea0f";
    position: absolute;
    right: 0;
    top: 5px;
    font: 200 14px icomoon;
    padding: 4px;
    color: #fafafa;
    opacity: .5;
    background: #000;
}


/*banner部分*/
.banner{
    width: 100%;
    height: 140px;
    background-color: #FFFFFF;

}
.banner .w{
    height: 140px;
    position: relative;
}
.banner .logo{
    width: 190px;
    height: 120px;
    background: url("../images/logo.png") no-repeat 0 0;
    position: absolute;
    top: 10px;
    left: 0;
}
.banner .search-input{
    width: 550px;
    height: 36px;
    position: absolute;
    top: 10px;
    left: 275px;
}
.search-input input{
    width: 470px;
    padding-left: 18px;
    height: 30px;
    outline: none;
    font-size: 14px;
    border: 2px solid #F10215;
}
.search-input a{
    font-family: icomoon;
    color: #999999;
    position: absolute;
    right: 75px;
    font-size: 16px;
    top: 8px;
    text-decoration: none;
}
.search-input a:hover{
    color: #F10215;
}
.search-input button{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #F10215;
    outline: none;
    width: 58px;
    height: 36px;
    cursor: pointer;
    background-color: #F10215;
    font-family: icomoon;
    color: #fff;
}
.search-input button:hover{
    background-color: #FF0215;
}
.banner .cart{
    position: absolute;
    top: 10px;
    right: 210px;
    width: 132px;
    height: 36px;
    background-color: #fff;
    border: 1px solid #999999;
    text-align: center;
    line-height: 36px;
    color: #F10215;
}
.cart span{
    position: absolute;
    left: 26px;
    top: 2px;
    width: 18px;
    height: 14px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    background-color: #F10215;
    border-radius: 5px;
}
.cart i{
    font-family: icomoon;
    font-style: normal;
    font-size: 14px;
}
.cart a{
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    color: #F10215;
}

.cart .clear-border{
    height: 5px;
    position: absolute;
    width: 132px;
    left: 0;
    top: 34px;
    background-color: #FFFFFF;
    z-index: 999;
    display: none;
}

.cart:hover .clear-border{
    display: block;
}

.cart .dropdown-cart{
    width: 308px;
    height: 69px;
    position: absolute;
    background-color: #fff;
    top: 35px;
    z-index: 998;
    left: -177px;
    color: #999999;
    line-height: 69px;
    font-size: 14px;
    border: 1px solid #F10215;
    display: none;
}

.cart .dropdown-cart i{
    margin-left: 10px;
    font-size: 48px;
    vertical-align: middle;
}


.hot-words{
    position: absolute;
    top: 47px;
    left: 275px;
    width: 550px;
    height: 20px;
}
.hot-words a:first-child{
    color: #F10215;
}
.hot-words a{
    font-size: 12px;
    text-decoration: none;
    color: #999999;
    margin-right: 5px;
}
.hot-words a:hover{
    color: #F10215;
}

.nav-items{
    width: 760px;
    height: 60px;
    position: absolute;
    left: 250px;
    bottom: 0;
    line-height: 60px;

}
.nav-items a{
    display: inline-block;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    margin-right: 13px;
}

.nav-items .active{
    font-weight: 700;
    color: #F10215;
}



/*main 部分*/
.main{
    width: 100%;
    height: 470px;
    margin-top: 15px;
    position: relative;
}
.main-ad{
    position: absolute;
    left: 0;
    top: 0;
    height: 470px;
    width: 80px;
    background: url("../images/main-ad.webp") no-repeat right top;
}

.main-ad img{
    position: absolute;
    left: 80px;
    top: 0;
    width: 0;
    height: 470px;
    transition: all 0.2s linear;
    z-index: 1000;
}

.main-ad:hover img{
    width: 790px;
}

.main .w{
    height: 470px;
}

.left-nav{
    width: 188px;
    height: 453px;
    padding-top: 15px;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    position: relative;
    float: left;
}


.left-nav>li{
    width: 170px;
    padding-left: 20px;
    height: 25px;
    font-size: 14px;
    color: #636363;
    line-height: 25px;
}

.left-nav>li:hover{
    background-color: #cccccc;
}

.left-nav a {
    text-decoration: none;
    font-size: 14px;
    color: #636363;
}
.left-nav a:hover {
    color: #F10215;
}


.nav-more{
    width: 1000px;
    height: 470px;
    position: absolute;
    left: 189px;
    top: -1px;
    background-color: #fff;
    border: 1px solid #999999;
    display: none;
    z-index: 1000;
}

.left-nav-more{
    width: 795px;
    height: 450px;
    float: left;
    padding: 20px 0 0 15px;
}

.right-img{
    width: 190px;
    height: 470px;
    float: left;
}

.left-nav-more li .title{
    float: left;
    padding: 2px 8px;
    background-color: #000000;
    color: #FFFFFF;
    margin-right: 10px;
}

.left-nav-more li{
    margin: 8px 0;
}
.left-nav-more li a{
    display: inline-block;
    margin-bottom: 7px;
    font-size: 14px;
}
.left-nav-more li .lis{
    float: left;
    width: 700px;
}
.left-nav-more li .first{
    font-weight: 700;
    color: #000000;
    margin-left: 30px;
    margin-right: 10px;
    text-align: right;
    float: left;
}

.right-img div{
    width: 180px;
    height: 134px;
    margin: 10px auto;
    text-align: center;
}
.right-img .top{
    height: 160px;
}
.right-img .top img{
    margin: -1px;
}

.main .slider{
    width: 590px;
    height: 470px;
    float: left;
    margin-left: 10px;
    position: relative;
}

.images img{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.images img.current{
    display: block;
}

.arr-left,.arr-right{
    position: absolute;
    top: 50%;
    width: 25px;
    height: 35px;
    background: rgba(0,0,0,0.2);
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    line-height: 35px;
}
.arr-left{
    left: 0;
    border-radius: 0 10px 10px 0;
}
.arr-right{
    right: 0;
    border-radius: 10px 0 0 10px;
}
.arr-left:hover,.arr-right:hover{
    background: rgba(0,0,0,.8);
}

.choose{
    width: 98px;
    height: 15px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.choose .outer{
    width: 12px;
    height: 12px;
    background-color: rgba(0,0,0,.3);
    float: left;
    margin: 2px;
    border-radius: 50%;
}

.outer.current .inner{
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px auto;
}

.three-imgs{
    width: 190px;
    height: 470px;
    float: left;
    margin-left: 10px;
    position: relative;
}

.three-imgs>div{
    width: 190px;
    height: 150px;
    position: relative;
}

.middle-imgs{
    margin: 10px 0;
}


.three-imgs img{
    position: absolute;
    left: 0;
    top: 0;
    width: 190px;
    display: none;
}
.three-imgs img.current{
    display: block;
}

.left-slider,.right-slider{
    position: absolute;
    top: 50%;
    width: 25px;
    height: 35px;
    background: rgba(0,0,0,0.6);
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    line-height: 35px;
}
.left-slider{
    left: 0;
    border-radius: 0 10px 10px 0;
}
.right-slider{
    right: 0;
    border-radius: 10px 0 0 10px;
}
.mask{
    width: 190px;
    height: 150px;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0);
}

.right-info{
    width: 190px;
    height: 470px;
    float: left;
    margin-left: 10px;
    background-color: #FFFFFF;
}

.user-login{
    width: 190px;
    height: 100px;
}
.login-info{
    width: 170px;
    height: 50px;
    margin: 0 auto;
    padding-top: 20px;
}
.login-info .small-logo{
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
}
.small-logo img{
    width: 40px;
    height: 40px;
}
.login-info .login-text{
    padding-top: 4px;
    width: 100px;
    height: 55px;
    margin-left: 5px;
    float: left;
}
.login-info a{
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #999999;
    vertical-align: top;
}
.login-info a:hover{
    color: #F10215;
}
.welfare{
    width: 170px;
    height: 29px;
    margin: 3px auto 0;
    border-bottom: 1px solid #999999;
}
.welfare a{
    float: left;
    width: 70px;
    height: 20px;
    margin: -4px 5px 0;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 10px;
    padding: 1px 2px;
}
.welfare a:first-child{
    color: #FFFFFF;
    background-color: #F10215;
}
.welfare a:last-child{
    color: #e5d790;
    background-color: #333333;
}
.welfare a:last-child:hover{
    color: #FFFFFF;
    background-color: #F10215;
}
.news{
    width: 170px;
    height: 140px;
    margin: 0 auto;
}
.news h6{
    margin: 0;
    height: 30px;
    line-height: 30px;
}
.news h6 span{
    float: left;
}
.news h6 a{
    float: right;
    text-decoration: none;
    color: #999999;
}
.news h6 a:hover{
    color: #F10215;
}
.news-info{
    height: 100px;
    width: 170px;
}
.news-info li{
    height: 20px;
    line-height: 20px;
    width: 170px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999999;
}
.news-info span{
    display: inline-block;
    background-color: rgba(255,37,27,0.08);
    color: #F10215;
    padding: 0 2px;
    margin-right: 9px;
}
.news-info li a{
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}
.other-function{
    width: 170px;
    height: 219px;
    border-top: 1px solid #999999;
    padding-top: 10px;
    margin: 0 auto;
}
.other-function li{
    width: 50px;
    height: 50px;
    float: left;
    margin: 2px 3px;
    text-align: center;
    line-height: 50px;
    position: relative;
}

.other-function img{
    width: 28px;
    height: 28px;
}
.other-function span{
    position: absolute;
    left: 11px;
    top: 30px;
    width: 28px;
    height: 20px;
    line-height: 20px;
}
.other-function a{
    color: #333333;
    text-decoration: none;
    font-size: 12px;
}
.other-function a:hover{
    color: #F10215;
}

/*京东秒杀模块*/
.jd-ms{
    width: 1190px;
    height: 260px;
    margin: 20px auto 0;
}

.ms-time{
    cursor: pointer;
    width: 190px;
    height: 260px;
    background: url("../images/jd-ms-time.png") no-repeat;
    float: left;
    position: relative;
}

.ms-title{
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    left: 0;
    top: 40px;
    color: #FFFFFF;
    width: 190px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.highlight{
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    margin-right: 5px;
}
.ms-desc{
    position: absolute;
    font-size: 14px;
    color: #FFFFFF;
    width: 190px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    bottom: 60px;
    left: 0;
}
.time{
    position: absolute;
    font-size: 20px;
    width: 190px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    bottom: 20px;
    left: 0;
}
.time-hfs{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 700;
}
.time-space{
    color: #FFFFFF;
    font-weight: 700;
}
.ms-goods01{
    width: 800px;
    height: 260px;
    float: left;
    position: relative;
}

.goods-list{
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 260px;
    overflow: hidden;
    background-color: #fff;
}


.goods{
    position: absolute;
    top: 0;
    left: 0;
    width: 3200px;
    height: 260px;
}

.goods li{
    width: 183px;
    height: 240px;
    margin: 10px 8px;
    float: left;
    border-right: 1px solid rgba(0,0,0,.08);
}

.goods-img{
    width: 140px;
    height: 140px;
    margin: 5px auto 0;
    display: block;
}

.goods-desc{
    display: block;
    width: 170px;
    margin: 20px auto 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333333;
    font-size: 12px;
}

.goods-price{
    width: 170px;
    margin: 10px auto 0;
    text-align: center;
    height: 26px;
    display: block;
    text-decoration: none;
    line-height: 26px;
    position: relative;
    border: 1px solid #F10215;
}
.goods-price::after{
    display: block;
    content: "";
    border-width: 13px;
    border-style: solid;
    border-color: #F10215 transparent #FFFFFF #F10215;
    position: absolute;
    left: 82px;
    top: 0;
}
.now-price{
    width: 87px;
    height: 26px;
    background-color: #F10215;
    display: block;
    float: left;
    text-decoration: none;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 14px;
    padding-right: 5px;
}
.old-price{
    width: 78px;
    height: 26px;
    background-color: #FFFFFF;
    display: block;
    float: left;
    color: #999999;
    font-size: 12px;
}

.goods-arr .goods-arr-left,
.goods-arr .goods-arr-right{
    position: absolute;
    width: 25px;
    height: 35px;
    background-color: rgba(0,0,0,.3);
    top: 50%;
    margin-top: -15px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}
.goods-arr .goods-arr-left{
    left: 0;
    border-radius: 0 10px 10px 0;
}
.goods-arr .goods-arr-right{
    right: 0;
    margin-right: 9px;
    border-radius: 10px 0 0 10px;
}

.ms-goods02{
    width: 200px;
    height: 240px;
    background-color: #FFFFFF;
    float: left;
    padding: 10px 0;
    position: relative;
}

.ms-goods02 .goods2-list{
    position: absolute;
    width: 180px;
    height: 240px;
    top: 10px;
    left: 10px;
    background: -webkit-linear-gradient(bottom,#E6E6FA 0%,#FFF 40%);
    overflow: hidden;
}
.goods2{
    width: 360px;
    height: 240px;
    position: absolute;
    left: 0;
    top: 0;
}

.goods2 li{
    width: 180px;
    height: 240px;
    float: left;
}

.goods2-desc,.goods2-price,.href-btn{
    font-size: 14px;
    text-decoration: none;
    color: #999999;
    display: block;
    width: 180px;
    margin-top: -5px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.goods2-price{
    margin-top: 1px;
    font-size: 16px;
    color: #333333;
    font-weight: 700;
}

.href-btn{
    width: 80px;
    border: 1px solid #F10215;
    margin: 8px auto;
    color: #F10215;
    font-weight: 700;
    border-radius: 10px;
}

.href-btn:hover{
    color: #FFFFFF;
    background-color: #F10215;
}

.circles{
    position: absolute;
    width: 30px;
    height: 9px;
    left: 75px;
    bottom: 15px;
}

.circle{
    width: 9px;
    height: 9px;
    background-color: #cccccc;
    float: left;
    margin:0 2px;
    border-radius: 50%;
    cursor: pointer;
}

.circle.current{
    background-color: #F10215;
}